/* 
    Created by Chrissy Dobrowolski 
    Assignment 14- Reading Server Side JSON 
    CSCE 242- 001 
    Due: 3.24.2024 

*/


/* FOR ALL RESOLUTIONS: */

*
{
    box-sizing: border-box;

}

body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1
{
    display: inline;

}

.plus-sign-image
{
    max-width: 2%;
    margin-left: 30px;
    
}

.edit-pencil-image
{
    max-width: 3.5%;
    margin-left: 12px;
    
}

.ferris-wheel-image
{
    max-width: 90%;

}

.expanded-ferris-wheel-image
{
    max-width: 90%;

}

p
{
    margin-left: 10px;

}

p a
{
    text-decoration: none;
    color: #5f4e96;

}


.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d2d2d2;
    background-color: #d2d2d285;

}

#modal-content
{
    display: flex;

}

.expanded-craft-image
{
    margin: 10px;
    margin-right: 20px;

}

.close
{
    color: #d6d6d6;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus
{
    color: #000000;
    text-decoration: none;
    cursor: pointer;

}

.inline
{
    display: inline;

}

.block
{
    display: block;

}


.crafts-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

.craft-section0,
.craft-section1,
.craft-section2,
.craft-section3
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

}

.craft-section0 img,
.craft-section1 img,
.craft-section2 img,
.craft-section3 img
{
    margin-top: 8px;
    vertical-align: middle;
    padding: 0px;

}



/* OVERRIDE: FOR LARGER RESOLUTIONS: */

@media (max-width: 1220px)
{
    .craft-section0,
    .craft-section1,
    .craft-section2,
    .craft-section3
    {
        flex: 50%;
        max-width: 50%;

    }

}

@media (max-width: 615px)
{
    .craft-section0,
    .craft-section1,
    .craft-section2,
    .craft-section3
    {
        flex: 100%;
        max-width: 100%;

    }

}